In [1]:
import pandas as pd
import random

In [2]:
quarters = ["2017Q1", "2017Q2", "2017Q3", "2017Q4", "2018Q1", "2018Q2", "2018Q3","2018Q4","2019Q1", "2019Q2", "2019Q3", 
            "2019Q4", "2020Q1"]

df = pd.DataFrame()

for quarter in quarters:
    temp = pd.read_csv(f"Data\{quarter}.csv")
    temp = temp.sample(frac=.05, random_state = 43)
    df = df.append(temp)
    print(quarter)

2017Q1
2017Q2
2017Q3
2017Q4
2018Q1
2018Q2
2018Q3
2018Q4
2019Q1
2019Q2
2019Q3
2019Q4
2020Q1

In [3]:
df.head()

,ITIN_ID,COUPONS,YEAR,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,QUARTER,ORIGIN,ORIGIN_STATE_ABR,ORIGIN_WAC,...,DEST_CITY_MARKET_ID,DEST,DEST_STATE_ABR,DEST_WAC,TICKET_CARRIER,OPERATING_CARRIER,REPORTING_CARRIER,PASSENGERS,DISTANCE,Unnamed: 21
251472,20171122129,2,2017,13930,1393004,30977,1,ORD,IL,41,...,30423,AUS,TX,74,AA,AA,AA,1.0,977.0,NaN
273543,20171132792,4,2017,10529,1052904,30529,1,BDL,CT,11,...,32575,LAX,CA,91,AA,AA,AA,1.0,2527.0,NaN
923524,20171535720,3,2017,14107,1410702,30466,1,PHX,AZ,81,...,33198,MCI,MO,64,AA,AA,AA,1.0,1044.0,NaN
57581,2017124577,1,2017,11278,1127803,30852,1,DCA,VA,38,...,31703,JFK,NY,22,DL,9E,9E,1.0,213.0,NaN
817637,20171459971,2,2017,11057,1105703,31057,1,CLT,NC,36,...,31973,GPT,MS,53,AA,OH,AA,1.0,577.0,NaN

In [4]:
len(df)

4960187

In [5]:
df["Qtr_Year"] = 'Q' + df['QUARTER'].map(str) + '-' + df['YEAR'].map(str)

In [6]:
quarters = ["2017Q1", "2017Q2", "2017Q3", "2017Q4", "2018Q1", "2018Q2", "2018Q3","2018Q4","2019Q1", "2019Q2", "2019Q3", 
            "2019Q4", "2020Q1"]

df2 = pd.DataFrame()

for quarter in quarters:
    temp = pd.read_csv(f"Data\{quarter}-FARE.csv")
    temp = temp.sample(frac=.1, random_state = 43)
    df2 = df2.append(temp)
    print(quarter)

2017Q1
2017Q2
2017Q3
2017Q4
2018Q1
2018Q2
2018Q3
2018Q4
2019Q1
2019Q2
2019Q3
2019Q4
2020Q1

In [7]:
joinedDf = pd.merge(df, df2, on='ITIN_ID')

In [8]:
joinedDf.columns

Index(['ITIN_ID', 'COUPONS', 'YEAR', 'ORIGIN_AIRPORT_ID',
       'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_CITY_MARKET_ID', 'QUARTER', 'ORIGIN',
       'ORIGIN_STATE_ABR', 'ORIGIN_WAC', 'DEST_AIRPORT_ID',
       'DEST_AIRPORT_SEQ_ID', 'DEST_CITY_MARKET_ID', 'DEST', 'DEST_STATE_ABR',
       'DEST_WAC', 'TICKET_CARRIER', 'OPERATING_CARRIER', 'REPORTING_CARRIER',
       'PASSENGERS_x', 'DISTANCE', 'Unnamed: 21', 'Qtr_Year', 'PASSENGERS_y',
       'ITIN_FARE', 'Unnamed: 3'],
      dtype='object')

In [9]:
joinedDf.head()

,ITIN_ID,COUPONS,YEAR,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,QUARTER,ORIGIN,ORIGIN_STATE_ABR,ORIGIN_WAC,...,TICKET_CARRIER,OPERATING_CARRIER,REPORTING_CARRIER,PASSENGERS_x,DISTANCE,Unnamed: 21,Qtr_Year,PASSENGERS_y,ITIN_FARE,Unnamed: 3
0,20171122129,2,2017,13930,1393004,30977,1,ORD,IL,41,...,AA,AA,AA,1.0,977.0,NaN,Q1-2017,1.0,355.0,NaN
1,20171101856,4,2017,10397,1039705,30397,1,ATL,GA,34,...,AA,AA,AA,1.0,226.0,NaN,Q1-2017,1.0,263.0,NaN
2,20171101856,4,2017,11057,1105703,31057,1,CLT,NC,36,...,AA,AA,AA,1.0,427.0,NaN,Q1-2017,1.0,263.0,NaN
3,2017192037,2,2017,10140,1014003,30140,1,ABQ,NM,86,...,AA,AA,AA,1.0,569.0,NaN,Q1-2017,1.0,509.0,NaN
4,20171345566,2,2017,14107,1410702,30466,1,PHX,AZ,81,...,AA,AA,AA,1.0,255.0,NaN,Q1-2017,1.0,441.0,NaN

In [10]:
joinedDf = joinedDf.rename(columns = {
    'ITIN_ID': "Itinerary_ID",
    'COUPONS': 'Number_Coupons',
    'YEAR': 'Year',
    'ORIGIN_AIRPORT_ID': 'Origin_Airport_ID',
    'ORIGIN_AIRPORT_SEQ_ID': 'Origin_Airport_Seq_ID',
    'ORIGIN_CITY_MARKET_ID': 'Origin_City_Market_ID',
    'QUARTER': 'Quarter',
    'ORIGIN': 'Origin',
    'ORIGIN_STATE_ABR': 'Origin_State',
    'ORIGIN_WAC': 'Origin_WAC',
    'DEST_AIRPORT_ID': 'Dest_Airport_ID',
    'DEST_AIRPORT_SEQ_ID': 'Dest_Airport_Seq_ID',
    'DEST_CITY_MARKET_ID': 'Dest_City_Market_ID',
    'DEST': "Destination",
    'DEST_STATE_ABR': "Dest_State",
    'DEST_WAC': 'Dest_WAC',
    'TICKET_CARRIER': 'Ticket_Carrier',
    'OPERATING_CARRIER': 'Operating_Carrier',
    'REPORTING_CARRIER': 'Reporting_Carrier',
    'PASSENGERS_y': 'Number_Passengers',
    'ITIN_FARE': 'Fare',
    'DISTANCE': 'Flight_Distance'})
joinedDf.head()

,Itinerary_ID,Number_Coupons,Year,Origin_Airport_ID,Origin_Airport_Seq_ID,Origin_City_Market_ID,Quarter,Origin,Origin_State,Origin_WAC,...,Ticket_Carrier,Operating_Carrier,Reporting_Carrier,PASSENGERS_x,Flight_Distance,Unnamed: 21,Qtr_Year,Number_Passengers,Fare,Unnamed: 3
0,20171122129,2,2017,13930,1393004,30977,1,ORD,IL,41,...,AA,AA,AA,1.0,977.0,NaN,Q1-2017,1.0,355.0,NaN
1,20171101856,4,2017,10397,1039705,30397,1,ATL,GA,34,...,AA,AA,AA,1.0,226.0,NaN,Q1-2017,1.0,263.0,NaN
2,20171101856,4,2017,11057,1105703,31057,1,CLT,NC,36,...,AA,AA,AA,1.0,427.0,NaN,Q1-2017,1.0,263.0,NaN
3,2017192037,2,2017,10140,1014003,30140,1,ABQ,NM,86,...,AA,AA,AA,1.0,569.0,NaN,Q1-2017,1.0,509.0,NaN
4,20171345566,2,2017,14107,1410702,30466,1,PHX,AZ,81,...,AA,AA,AA,1.0,255.0,NaN,Q1-2017,1.0,441.0,NaN

In [11]:
joinedDf.columns

Index(['Itinerary_ID', 'Number_Coupons', 'Year', 'Origin_Airport_ID',
       'Origin_Airport_Seq_ID', 'Origin_City_Market_ID', 'Quarter', 'Origin',
       'Origin_State', 'Origin_WAC', 'Dest_Airport_ID', 'Dest_Airport_Seq_ID',
       'Dest_City_Market_ID', 'Destination', 'Dest_State', 'Dest_WAC',
       'Ticket_Carrier', 'Operating_Carrier', 'Reporting_Carrier',
       'PASSENGERS_x', 'Flight_Distance', 'Unnamed: 21', 'Qtr_Year',
       'Number_Passengers', 'Fare', 'Unnamed: 3'],
      dtype='object')

In [12]:
joinedDf = joinedDf[['Itinerary_ID',
         'Qtr_Year',
         'Year',
         'Quarter',
         'Number_Coupons',
         'Origin_Airport_ID',
         'Origin_Airport_Seq_ID',
         'Origin_City_Market_ID',
         'Origin',
         'Origin_State',
         'Origin_WAC',
         'Dest_Airport_ID',
         'Dest_Airport_Seq_ID',
         'Dest_City_Market_ID',
         'Destination',
         'Dest_State',
         'Dest_WAC',
         'Flight_Distance',
         'Fare',
         'Ticket_Carrier',
         'Operating_Carrier',
         'Reporting_Carrier',
         'Number_Passengers']]
joinedDf.head()

,Itinerary_ID,Qtr_Year,Year,Quarter,Number_Coupons,Origin_Airport_ID,Origin_Airport_Seq_ID,Origin_City_Market_ID,Origin,Origin_State,...,Dest_City_Market_ID,Destination,Dest_State,Dest_WAC,Flight_Distance,Fare,Ticket_Carrier,Operating_Carrier,Reporting_Carrier,Number_Passengers
0,20171122129,Q1-2017,2017,1,2,13930,1393004,30977,ORD,IL,...,30423,AUS,TX,74,977.0,355.0,AA,AA,AA,1.0
1,20171101856,Q1-2017,2017,1,4,10397,1039705,30397,ATL,GA,...,31057,CLT,NC,36,226.0,263.0,AA,AA,AA,1.0
2,20171101856,Q1-2017,2017,1,4,11057,1105703,31057,CLT,NC,...,32337,IND,IN,42,427.0,263.0,AA,AA,AA,1.0
3,2017192037,Q1-2017,2017,1,2,10140,1014003,30140,ABQ,NM,...,30194,DFW,TX,74,569.0,509.0,AA,AA,AA,1.0
4,20171345566,Q1-2017,2017,1,2,14107,1410702,30466,PHX,AZ,...,32211,LAS,NV,85,255.0,441.0,AA,AA,AA,1.0

In [13]:
airportsDf = pd.read_csv('Data/airportData.csv')
airportsDf.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [14]:
airportsDf = airportsDf.rename(columns = {
    'IATA_CODE': 'Origin',
    'AIRPORT': 'Origin_Airport',
    'CITY': 'Origin_City',
    'STATE': 'State',
    'COUNTRY': 'Country',
    'LATITUDE': 'Origin_Lat',
    'LONGITUDE': 'Origin_Long'
})
airportsDf.head()

,Origin,Origin_Airport,Origin_City,State,Country,Origin_Lat,Origin_Long
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [15]:
originsDf = airportsDf[[
    'Origin',
    'Origin_Airport',
    'Origin_City',
    'Origin_Lat',
    'Origin_Long'
]]

In [16]:
totalDf = pd.merge(joinedDf, originsDf, on='Origin')

In [17]:
destinationsDf = airportsDf.rename(columns = {
    'Origin': 'Destination',
    'Origin_Airport': 'Destination_Airport',
    'Origin_City': 'Destination_City',
    'Origin_Lat': 'Destination_Lat',
    'Origin_Long': 'Destination_Long'
})
destinationsDf.head()

,Destination,Destination_Airport,Destination_City,State,Country,Destination_Lat,Destination_Long
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [18]:
finalDf = pd.merge(totalDf, destinationsDf, on='Destination')

In [19]:
finalDf

,Itinerary_ID,Qtr_Year,Year,Quarter,Number_Coupons,Origin_Airport_ID,Origin_Airport_Seq_ID,Origin_City_Market_ID,Origin,Origin_State,...,Origin_Airport,Origin_City,Origin_Lat,Origin_Long,Destination_Airport,Destination_City,State,Country,Destination_Lat,Destination_Long
0,20171122129,Q1-2017,2017,1,2,13930,1393004,30977,ORD,IL,...,Chicago O'Hare International Airport,Chicago,41.97960,-87.90446,Austin-Bergstrom International Airport,Austin,TX,USA,30.19453,-97.66987
1,20171122086,Q1-2017,2017,1,4,13930,1393004,30977,ORD,IL,...,Chicago O'Hare International Airport,Chicago,41.97960,-87.90446,Austin-Bergstrom International Airport,Austin,TX,USA,30.19453,-97.66987
2,20171122803,Q1-2017,2017,1,4,13930,1393004,30977,ORD,IL,...,Chicago O'Hare International Airport,Chicago,41.97960,-87.90446,Austin-Bergstrom International Airport,Austin,TX,USA,30.19453,-97.66987
3,20172143270,Q2-2017,2017,2,3,13930,1393004,30977,ORD,IL,...,Chicago O'Hare International Airport,Chicago,41.97960,-87.90446,Austin-Bergstrom International Airport,Austin,TX,USA,30.19453,-97.66987
4,20172147951,Q2-2017,2017,2,2,13930,1393004,30977,ORD,IL,...,Chicago O'Hare International Airport,Chicago,41.97960,-87.90446,Austin-Bergstrom International Airport,Austin,TX,USA,30.19453,-97.66987
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408557,201943658354,Q4-2019,2019,4,2,12266,1226603,31453,IAH,TX,...,George Bush Intercontinental Airport,Houston,29.98047,-95.33972,Lea County Regional Airport,Hobbs,NM,USA,32.68753,-103.21703
408558,201943658307,Q4-2019,2019,4,4,12266,1226603,31453,IAH,TX,...,George Bush Intercontinental Airport,Houston,29.98047,-95.33972,Lea County Regional Airport,Hobbs,NM,USA,32.68753,-103.21703
408559,201742488253,Q4-2017,2017,4,3,14057,1405702,34057,PDX,OR,...,Portland International Airport,Portland,45.58872,-122.59750,Del Norte County AirportÂ (Jack McNamara Field),Crescent City,CA,USA,41.78016,-124.23653
408560,201741118576,Q4-2017,2017,4,5,14057,1405702,34057,PDX,OR,...,Portland International Airport,Portland,45.58872,-122.59750,Del Norte County AirportÂ (Jack McNamara Field),Crescent City,CA,USA,41.78016,-124.23653
408561,201931387569,Q3-2019,2019,3,6,12523,1252306,32523,JNU,AK,...,Juneau International Airport,Juneau,58.35496,-134.57628,Gustavus Airport,Gustavus,AK,USA,58.42438,-135.70738

In [20]:
cleanDf = finalDf[~(finalDf['Fare'] > 2000)]

In [21]:
cleanDf = cleanDf[~(cleanDf['Fare'] < 50)]
cleanDf.head()

,Itinerary_ID,Qtr_Year,Year,Quarter,Number_Coupons,Origin_Airport_ID,Origin_Airport_Seq_ID,Origin_City_Market_ID,Origin,Origin_State,...,Origin_Airport,Origin_City,Origin_Lat,Origin_Long,Destination_Airport,Destination_City,State,Country,Destination_Lat,Destination_Long
0,20171122129,Q1-2017,2017,1,2,13930,1393004,30977,ORD,IL,...,Chicago O'Hare International Airport,Chicago,41.9796,-87.90446,Austin-Bergstrom International Airport,Austin,TX,USA,30.19453,-97.66987
1,20171122086,Q1-2017,2017,1,4,13930,1393004,30977,ORD,IL,...,Chicago O'Hare International Airport,Chicago,41.9796,-87.90446,Austin-Bergstrom International Airport,Austin,TX,USA,30.19453,-97.66987
2,20171122803,Q1-2017,2017,1,4,13930,1393004,30977,ORD,IL,...,Chicago O'Hare International Airport,Chicago,41.9796,-87.90446,Austin-Bergstrom International Airport,Austin,TX,USA,30.19453,-97.66987
3,20172143270,Q2-2017,2017,2,3,13930,1393004,30977,ORD,IL,...,Chicago O'Hare International Airport,Chicago,41.9796,-87.90446,Austin-Bergstrom International Airport,Austin,TX,USA,30.19453,-97.66987
4,20172147951,Q2-2017,2017,2,2,13930,1393004,30977,ORD,IL,...,Chicago O'Hare International Airport,Chicago,41.9796,-87.90446,Austin-Bergstrom International Airport,Austin,TX,USA,30.19453,-97.66987

In [22]:
cleanDf = cleanDf[~(cleanDf['Number_Passengers'] > 100)]
cleanDf.head()

,Itinerary_ID,Qtr_Year,Year,Quarter,Number_Coupons,Origin_Airport_ID,Origin_Airport_Seq_ID,Origin_City_Market_ID,Origin,Origin_State,...,Origin_Airport,Origin_City,Origin_Lat,Origin_Long,Destination_Airport,Destination_City,State,Country,Destination_Lat,Destination_Long
0,20171122129,Q1-2017,2017,1,2,13930,1393004,30977,ORD,IL,...,Chicago O'Hare International Airport,Chicago,41.9796,-87.90446,Austin-Bergstrom International Airport,Austin,TX,USA,30.19453,-97.66987
1,20171122086,Q1-2017,2017,1,4,13930,1393004,30977,ORD,IL,...,Chicago O'Hare International Airport,Chicago,41.9796,-87.90446,Austin-Bergstrom International Airport,Austin,TX,USA,30.19453,-97.66987
2,20171122803,Q1-2017,2017,1,4,13930,1393004,30977,ORD,IL,...,Chicago O'Hare International Airport,Chicago,41.9796,-87.90446,Austin-Bergstrom International Airport,Austin,TX,USA,30.19453,-97.66987
3,20172143270,Q2-2017,2017,2,3,13930,1393004,30977,ORD,IL,...,Chicago O'Hare International Airport,Chicago,41.9796,-87.90446,Austin-Bergstrom International Airport,Austin,TX,USA,30.19453,-97.66987
4,20172147951,Q2-2017,2017,2,2,13930,1393004,30977,ORD,IL,...,Chicago O'Hare International Airport,Chicago,41.9796,-87.90446,Austin-Bergstrom International Airport,Austin,TX,USA,30.19453,-97.66987

In [23]:
cleanDf.to_csv("flightData.csv", index=False)

In [24]:
machineLearningDf = pd.read_csv('Data/2020Q1.csv').sample(frac=.25, random_state = 43)
machineLearningDf.head()

,ITIN_ID,COUPONS,YEAR,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,QUARTER,ORIGIN,ORIGIN_STATE_ABR,ORIGIN_WAC,...,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,DEST,DEST_STATE_ABR,DEST_WAC,TICKET_CARRIER,OPERATING_CARRIER,REPORTING_CARRIER,PASSENGERS,DISTANCE
251472,20201115635,4,2020,10361,1036105,30361,1,ART,NY,22,...,1410005,34100,PHL,PA,23,AA,PT,AA,1,287
273543,20201127472,4,2020,10140,1014005,30140,1,ABQ,NM,86,...,1129806,30194,DFW,TX,74,AA,MQ,AA,1,569
923524,20201529179,4,2020,10408,1040805,30408,1,ATW,WI,45,...,1393007,30977,ORD,IL,41,AA,MQ,AA,1,161
57581,2020123110,4,2020,11697,1169706,32467,1,FLL,FL,33,...,1143302,31295,DTW,MI,43,DL,DL,9E,1,1127
817637,20201450927,2,2020,12889,1288903,32211,1,LAS,NV,85,...,1393007,30977,ORD,IL,41,AA,AA,AA,1,1514

In [25]:
machineLearningDf2 = pd.read_csv('Data/2020Q1-Fare.csv').sample(frac=.25, random_state = 43)
machineLearningDf2.head()

             ITIN_ID  PASSENGERS  ITIN_FARE
251472  2.020134e+10           1        879
273543  2.020138e+10           1        470
923524  2.020110e+11           1        820
57581   2.020166e+09           1        188
817637  2.020110e+11           4        141

In [26]:
mlDf = pd.merge(machineLearningDf, machineLearningDf2, on='ITIN_ID')

In [27]:
mlDf = mlDf.rename(columns = {
    'ITIN_ID': "Itinerary_ID",
    'COUPONS': 'Number_Coupons',
    'YEAR': 'Year',
    'ORIGIN_AIRPORT_ID': 'Origin_Airport_ID',
    'ORIGIN_AIRPORT_SEQ_ID': 'Origin_Airport_Seq_ID',
    'ORIGIN_CITY_MARKET_ID': 'Origin_City_Market_ID',
    'QUARTER': 'Quarter',
    'ORIGIN': 'Origin',
    'ORIGIN_STATE_ABR': 'Origin_State',
    'ORIGIN_WAC': 'Origin_WAC',
    'DEST_AIRPORT_ID': 'Dest_Airport_ID',
    'DEST_AIRPORT_SEQ_ID': 'Dest_Airport_Seq_ID',
    'DEST_CITY_MARKET_ID': 'Dest_City_Market_ID',
    'DEST': "Destination",
    'DEST_STATE_ABR': "Dest_State",
    'DEST_WAC': 'Dest_WAC',
    'TICKET_CARRIER': 'Ticket_Carrier',
    'OPERATING_CARRIER': 'Operating_Carrier',
    'REPORTING_CARRIER': 'Reporting_Carrier',
    'PASSENGERS_y': 'Number_Passengers',
    'ITIN_FARE': 'Fare',
    'DISTANCE': 'Flight_Distance'})
mlDf.head()

,Itinerary_ID,Number_Coupons,Year,Origin_Airport_ID,Origin_Airport_Seq_ID,Origin_City_Market_ID,Quarter,Origin,Origin_State,Origin_WAC,...,Destination,Dest_State,Dest_WAC,Ticket_Carrier,Operating_Carrier,Reporting_Carrier,PASSENGERS_x,Flight_Distance,Number_Passengers,Fare
0,20201127472,4,2020,10140,1014005,30140,1,ABQ,NM,86,...,DFW,TX,74,AA,MQ,AA,1,569,1,11
1,2020190570,4,2020,14027,1402702,34027,1,PBI,FL,33,...,ATL,GA,34,DL,DL,9E,1,545,1,11
2,2020190570,4,2020,10397,1039707,30397,1,ATL,GA,34,...,SHV,LA,72,DL,OO,9E,1,551,1,11
3,2020190570,4,2020,14814,1481402,30476,1,SHV,LA,72,...,ATL,GA,34,DL,9E,9E,1,551,1,11
4,20201349658,1,2020,11618,1161802,31703,1,EWR,NJ,21,...,MIA,FL,33,AA,AA,AA,1,1085,1,42

In [28]:
mlDf = mlDf[['Itinerary_ID',
         'Year',
         'Quarter',
         'Number_Coupons',
         'Origin_Airport_ID',
         'Origin_Airport_Seq_ID',
         'Origin_City_Market_ID',
         'Origin',
         'Origin_State',
         'Origin_WAC',
         'Dest_Airport_ID',
         'Dest_Airport_Seq_ID',
         'Dest_City_Market_ID',
         'Destination',
         'Dest_State',
         'Dest_WAC',
         'Flight_Distance',
         'Fare',
         'Ticket_Carrier',
         'Operating_Carrier',
         'Reporting_Carrier',
         'Number_Passengers']]
mlDf.head()

,Itinerary_ID,Year,Quarter,Number_Coupons,Origin_Airport_ID,Origin_Airport_Seq_ID,Origin_City_Market_ID,Origin,Origin_State,Origin_WAC,...,Dest_City_Market_ID,Destination,Dest_State,Dest_WAC,Flight_Distance,Fare,Ticket_Carrier,Operating_Carrier,Reporting_Carrier,Number_Passengers
0,20201127472,2020,1,4,10140,1014005,30140,ABQ,NM,86,...,30194,DFW,TX,74,569,11,AA,MQ,AA,1
1,2020190570,2020,1,4,14027,1402702,34027,PBI,FL,33,...,30397,ATL,GA,34,545,11,DL,DL,9E,1
2,2020190570,2020,1,4,10397,1039707,30397,ATL,GA,34,...,30476,SHV,LA,72,551,11,DL,OO,9E,1
3,2020190570,2020,1,4,14814,1481402,30476,SHV,LA,72,...,30397,ATL,GA,34,551,11,DL,9E,9E,1
4,20201349658,2020,1,1,11618,1161802,31703,EWR,NJ,21,...,32467,MIA,FL,33,1085,42,AA,AA,AA,1

In [29]:
mlDf = pd.merge(mlDf, originsDf, on='Origin')

In [30]:
mlDf = pd.merge(mlDf, destinationsDf, on='Destination')

In [31]:
cleanMlDf = mlDf[~(mlDf['Number_Passengers'] > 100)]
cleanMlDf.head()

,Itinerary_ID,Year,Quarter,Number_Coupons,Origin_Airport_ID,Origin_Airport_Seq_ID,Origin_City_Market_ID,Origin,Origin_State,Origin_WAC,...,Origin_Airport,Origin_City,Origin_Lat,Origin_Long,Destination_Airport,Destination_City,State,Country,Destination_Lat,Destination_Long
0,20201127472,2020,1,4,10140,1014005,30140,ABQ,NM,86,...,Albuquerque International Sunport,Albuquerque,35.04022,-106.60919,Dallas/Fort Worth International Airport,Dallas-Fort Worth,TX,USA,32.89595,-97.0372
1,20201106150,2020,1,5,10140,1014005,30140,ABQ,NM,86,...,Albuquerque International Sunport,Albuquerque,35.04022,-106.60919,Dallas/Fort Worth International Airport,Dallas-Fort Worth,TX,USA,32.89595,-97.0372
2,20201106311,2020,1,4,10140,1014005,30140,ABQ,NM,86,...,Albuquerque International Sunport,Albuquerque,35.04022,-106.60919,Dallas/Fort Worth International Airport,Dallas-Fort Worth,TX,USA,32.89595,-97.0372
3,20201105676,2020,1,2,10140,1014005,30140,ABQ,NM,86,...,Albuquerque International Sunport,Albuquerque,35.04022,-106.60919,Dallas/Fort Worth International Airport,Dallas-Fort Worth,TX,USA,32.89595,-97.0372
4,20201215946,2020,1,4,10140,1014005,30140,ABQ,NM,86,...,Albuquerque International Sunport,Albuquerque,35.04022,-106.60919,Dallas/Fort Worth International Airport,Dallas-Fort Worth,TX,USA,32.89595,-97.0372

In [32]:
cleanMlDf = mlDf[~(mlDf['Fare'] > 2000)]
cleanMlDf.head()

,Itinerary_ID,Year,Quarter,Number_Coupons,Origin_Airport_ID,Origin_Airport_Seq_ID,Origin_City_Market_ID,Origin,Origin_State,Origin_WAC,...,Origin_Airport,Origin_City,Origin_Lat,Origin_Long,Destination_Airport,Destination_City,State,Country,Destination_Lat,Destination_Long
0,20201127472,2020,1,4,10140,1014005,30140,ABQ,NM,86,...,Albuquerque International Sunport,Albuquerque,35.04022,-106.60919,Dallas/Fort Worth International Airport,Dallas-Fort Worth,TX,USA,32.89595,-97.0372
1,20201106150,2020,1,5,10140,1014005,30140,ABQ,NM,86,...,Albuquerque International Sunport,Albuquerque,35.04022,-106.60919,Dallas/Fort Worth International Airport,Dallas-Fort Worth,TX,USA,32.89595,-97.0372
2,20201106311,2020,1,4,10140,1014005,30140,ABQ,NM,86,...,Albuquerque International Sunport,Albuquerque,35.04022,-106.60919,Dallas/Fort Worth International Airport,Dallas-Fort Worth,TX,USA,32.89595,-97.0372
3,20201105676,2020,1,2,10140,1014005,30140,ABQ,NM,86,...,Albuquerque International Sunport,Albuquerque,35.04022,-106.60919,Dallas/Fort Worth International Airport,Dallas-Fort Worth,TX,USA,32.89595,-97.0372
4,20201215946,2020,1,4,10140,1014005,30140,ABQ,NM,86,...,Albuquerque International Sunport,Albuquerque,35.04022,-106.60919,Dallas/Fort Worth International Airport,Dallas-Fort Worth,TX,USA,32.89595,-97.0372

In [33]:
cleanMlDf = mlDf[~(mlDf['Fare'] < 50)]
cleanMlDf.head()

,Itinerary_ID,Year,Quarter,Number_Coupons,Origin_Airport_ID,Origin_Airport_Seq_ID,Origin_City_Market_ID,Origin,Origin_State,Origin_WAC,...,Origin_Airport,Origin_City,Origin_Lat,Origin_Long,Destination_Airport,Destination_City,State,Country,Destination_Lat,Destination_Long
1,20201106150,2020,1,5,10140,1014005,30140,ABQ,NM,86,...,Albuquerque International Sunport,Albuquerque,35.04022,-106.60919,Dallas/Fort Worth International Airport,Dallas-Fort Worth,TX,USA,32.89595,-97.0372
2,20201106311,2020,1,4,10140,1014005,30140,ABQ,NM,86,...,Albuquerque International Sunport,Albuquerque,35.04022,-106.60919,Dallas/Fort Worth International Airport,Dallas-Fort Worth,TX,USA,32.89595,-97.0372
4,20201215946,2020,1,4,10140,1014005,30140,ABQ,NM,86,...,Albuquerque International Sunport,Albuquerque,35.04022,-106.60919,Dallas/Fort Worth International Airport,Dallas-Fort Worth,TX,USA,32.89595,-97.0372
5,20201107689,2020,1,4,10140,1014005,30140,ABQ,NM,86,...,Albuquerque International Sunport,Albuquerque,35.04022,-106.60919,Dallas/Fort Worth International Airport,Dallas-Fort Worth,TX,USA,32.89595,-97.0372
6,20201105846,2020,1,2,10140,1014005,30140,ABQ,NM,86,...,Albuquerque International Sunport,Albuquerque,35.04022,-106.60919,Dallas/Fort Worth International Airport,Dallas-Fort Worth,TX,USA,32.89595,-97.0372

In [34]:
mlDf.to_csv("machineLearningData.csv", index=False)